<!DOCTYPE html>
<html ng-app="flash">
<title>Angular Flashcards</title>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-controller="DeckController">
<section ng-controller="StudyController">
  <div ng-if="cards.length" class="card">
    <p ng-if="front" class="front">{{ cards[current].front }}</p>
    <p ng-if="!front" class="back">{{ cards[current].back }}</p>
  </div>
  <p ng-if="!cards.length">No more cards to study, fantstic job! Really!</p>
  <span ng-if="cards.length">
  <button ng-click="back()">back</button>
  <button ng-click="next()">next</button>
  <button ng-click="gotIt()">got it!</button>
  </span>
  <button ng-click="reset()">reset</button>
</section>


<section ng-controller="CardsController">
<label for="front">front</label>
<textarea name="front" ng-model="front"></textarea>
<label for="back">back</label>
<textarea name="back" ng-model="back"></textarea>
<button ng-click="addCard()">add card</button>
<p>{{front}}</p>
<p>{{back}}</p>
<p>{{copyCards}}</p>
</section>


<script src="./app.js"></script>
</body>
</html>
